{% extends "crypt.html" %}

{% block crypt_content %}
	<div class="row">
		<div class="col-md-6">{{ super() }}</div>
		<div class="col-md-6">

			{% if freq_list %}
                <center><h4><strong>词频统计</strong></h4></center>
{#                {% print freq_list %}#}
                <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
                <script src="http://code.highcharts.com/highcharts.js"></script>
                <script src="{{ url_for('static', filename='chartkick.js') }}"></script>
                {% bar_chart freq_list with style="width:50px; height:20px;" %}
                <br>

                {% pie_chart freq_list %}
{#                {% line_chart data %}#}




{#                {%  for ii, ij, jj in freq_list %}#}
{#                    {% print ii, ij, jj %}#}
{#                {% endfor %}#}
{#                {% from pprint import pprint %}#}

{#                {% l = [] %}#}
{#                {% entries = {} %}#}

{#                {% for id, fid, title in freq_list %}#}
{#                     {%  entries[id] = entry = {'id': id, 'fid': fid, 'title': title} %}#}
{#                     {% if fid == -1 %}#}
{#                          {% l.append(entry) %}#}
{#                     {% else %}#}
{#                          {% parent = entries[fid] %}#}
{#                          {% parent.setdefault('son', []).append(entry) %}#}
{#                    {% endif %}#}
{#                    {% print id, fid, title %}#}
{#                {% endfor %}#}
{#                {% print pprint(l) %}#}


{#			<table class="table table-bordered">#}
{#				<thead>#}
{#					<td>字母</td>#}
{#					<td>原文频率</td>#}
{#					<td>密文频率</td>#}
{#				</thead>#}
{##}
{#				<tbody>#}
{#					{% for item in freq_list[2] %}#}
{#					<tr>#}
{#						<td>{{ item }}</td>#}
{#						<td>{{ item[1] }}</td>#}
{#						<td>{{ item[2] }}</td>#}
{#					</tr>#}
{#					{% endfor %}#}
{#				</tbody>#}
{#			</table>#}
			{% endif %}

		</div>
	</div>



{% endblock %}

