{% extends "_base.html" %}


{% block content %}

<div class="row">
  <div class="col-md-7">
    <h2>Select an Image</h2>
    <br>
    <div class="row">
      <div class="col-md-6">
        <p><img src="../static/images/103100.jpg" style="height: 250px;" class="img"></p>
        <p><img src="../static/images/108100.jpg" style="height: 250px;" class="img"></p>
      </div>
      <div class="col-md-6">
        <p><img src="../static/images/122001.jpg" style="height: 250px;" class="img"></p>
        <p><img src="../static/images/123600.jpg" style="height: 250px;" class="img"></p>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-md-offset-1">
    <h2>Results</h2>
    <br>
    <p id="searching">Searching...</p>
    <table class="table" id="results-table">
      <thead>
        <tr>
          <th>Image</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody id="results">
      </tbody>
    </table>
  </div>
</div>

<br>

{% endblock %}